# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Build Artifacts
build/
bin/
lib/
out/

# IDE and Editor Artifacts
.idea/
.vs/
.vscode/

# Compiled Binaries, Libraries and Objects
*.exe
*.out
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.app

# Debug Symbols and Profiling
*.dSYM/
*.dsym/
*.pdb
*.idb
*.ilk
*.gcov
*.gcda
*.gcno

# CMake In-source Build Products
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
